body {
  font-family: Lucida Console, Monaco5, monospace;
  height: 100vh;
}
ul, li {
    list-style: none;
    margin:0;
    padding:0;

}

#listitem:hover {
  background-color:#D3D3D3;
}

#listbody {
  text-overflow:ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#listitem {
  height:auto;
}
