body {
  font-family: Lucida Console, Monaco5, monospace;
  height: 100vh;
  margin: 0;
}

h1 {
  margin:0;
}

ul, li {
    list-style: none;
    margin:0;
    padding:0;
}

.listitem:hover {
  background-color:#D3D3D3;
}

#listarea {
  height: 394px;
  width: 394px;
  border: 3px solid #D3D3D3;
  overflow-y:scroll;
}

.listtitle {
  font-weight: bold;
  height: 19.5px;
}

.hideContent {
  text-overflow:ellipsis;
  overflow: hidden;
  white-space: nowrap;
  height: 29.5px;
}

.showContent {
  height: auto;
}

.listitem {
  height: auto;
  border-bottom: 1px solid #D3D3D3;
}

#searchbar input {
  margin: 0.5em 0em ;
  border: 3px solid #D3D3D3;
  width: 15em;
}

#addnewitem {
  margin: 0;
  width:374px;
  border: 3px solid #D3D3D3;
  padding: 10px;
}

#addnewitembody {
  height: 60px;
}

Button {
  font-weight: bold;
  font-size: 0.8em;
  margin: 1em 0.1em;
  width: 7.5em;
  text-align: center;
  box-shadow: .5em .5em .2em #888888;
}

#addButton {
  float: right;
}

div.buttons {
  width: 400px;
}
